<h1> Edit Purchase </h1>
<%= form_for ([@comic, @purchase]) do |f| %>
    <%= f.label :location %>
    <%= f.text_field :location %><br><br>
    <%= f.label :purchase_total %>
    <%= f.number_field :purchase_total %><br><br>
    <%= f.submit %>
<% end %>