<h1>Purchases</h1>
<%= render partial: 'layouts/errors', locals: {object: @purchase} %>

<%= form_for ([@comic, @purchase]) do |f| %>
    <%= f.label :location %>
    <%= f.text_field :location %><br><br>
    <%= f.label :purchase_total %>
    <%= f.text_field :purchase_total %><br><br>
    <%= f.submit %>
<% end %>