<br><br>
<%= @purchase.comic.title %>
<h3><div><%= @purchase.location %></div></h3>
<%= number_to_currency(@purchase.purchase_total) %>

<%= link_to('edit purchase', edit_purchase_path(@purchase)) %><br>
<%= link_to('delete purchase', purchase_path(@purchase), method: 'delete') %><br>


