<!DOCTYPE html>
<html>
  <head>
    <title>ComicBooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<br><br>

<% if flash[:message] %>
<%= flash[:message] %>
<% end %>
<% if logged_in? %>
<%= link_to 'Log Out', logout_path, method: "delete" %> |
<%= link_to("All Comic", comics_path) %> |
<%= link_to("New Comic", new_comic_path) %> 

<% else %>
<%= link_to("Login with Google", '/auth/google_oauth2', method: :post) %> 
<h4> <%= link_to 'Log In', '/login' %> or <%= link_to 'Sign Up', '/signup' %> to continue </h4>
<br><br>
<% end %>
 <%= yield %>
  </body>
</html>
